<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}BaseTitle | PandaOne{% endblock %}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
  a.disable-style {
    color: black !important;
    text-decoration: none;
  }
</style>
{% block extrahead %}{% endblock %}
{% block extrastyle %}{% endblock %}
</head>

<body>

{% block __base_body %}

{% block __base_wrapper %}
<div id="wrapper" class="p-0 pb-5 m-0 bg-dark">
{% block __base_header %}
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'face_recognition' %}" class="disable-style">Panda<span style="color:#FFD700">O</span>ne</a></h5>
  {% block __base_header_nav %}
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="{% url 'face_recognition' %}">Face Recognition</a>
    <a class="p-2 text-dark" href="/admin/">Admin panel</a>
    <a class="p-2 text-dark" href="/#">Contacts</a>
  </nav>
  {% endblock %} <!-- block __base_header_nav -->
</header>
{% endblock %} <!-- block __base_header -->


{% block __base_main %}
<main class="container p-5 bg-white">
  {% block main %}{% endblock %}
</main>
{% endblock %} <!-- block __base_main -->
</div>
{% endblock %} <!-- block __base_wrapper -->

{% endblock %} <!-- block __base_body -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block extrascript %}{% endblock %}
</body>
</html>