{% extends 'face_detection/base.html' %}
{% load static %}

{% block title %}{{ customer }}{% endblock %}

{% block main %}
<h2 class="pb-1">Customer Info</h2>

<div class="row">
  <div class="col-4">
    <!-- TODO: implement display of photo in general -->
    {% with customer.image as image %}
    <img src="{% static image %}" class="img-fluid" width="300" alt="{{ customer.name }}">
    {% endwith %}
    {% block customer_photo %}{% endblock %}
  </div>
  <div class="col-8">
    <p><strong>Name:</strong> {% if customer.name %}{{ customer.name }}{% else %}unknown{% endif %}</p>
    <p><strong>Sex:</strong> {% if customer.sex %}{{ customer.sex }}{% else %}unknown{% endif %}</p>
    <p><strong>First visit:</strong> {{ customer.first_visit }}</p>
    <p><strong>Last visit:</strong> {{ customer.last_visit }}</p>
    <p><strong>Spent totally:</strong> {{ customer.spent }}</p>
    <ul class="list-group">
      <p><strong>Favorite Species:</strong></p>
      {% for s in species %}
      <li class="list-group-item p-2">{{ s.name }}</li>
      {% empty %}
      <li class="list-group-item p-2">This customer does not have preferences yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %} <!-- block main -->