{% extends 'face_detection/base.html' %}
{% load static %}

{% block title %}{{ customer }}{% endblock %}

{% block main %}
<div class="row">
  <div id="customerInfo-photo" class="col-3">
    <!-- TODO: implement display of photo in general -->
    <img src="{% static 'face_detection/mechanicalMorty.png' %}" width="190" height="260" alt="{{ customer.name }}">
    {% block customer_photo %}{% endblock %}
  </div>

  <div id="customerInfo-bio" class="col-9">
    <div id="customerInfo-bio_common">
      <h5 class="pb-3">Customer Info</h5>
      <p><strong>Name:</strong> {% if customer.name %}{{ customer.name }}{% else %}unknown{% endif %}</p>
      <p><strong>Sex:</strong> {% if customer.sex %}{{ customer.sex }}{% else %}unknown{% endif %}</p>
      <p><strong>Age:</strong> {% if customer.age %}{{ customer.age }}{% else %}unknown{% endif %}</p>
      <p><strong>First visit:</strong> {{ customer.first_visit }}</p>
      <p><strong>Last visit:</strong> {{ customer.last_visit }}</p>
      <p><strong>Spent totally:</strong> {{ customer.spent }}</p>
    </div>
  </div>
</div>
{% endblock %} <!-- block main -->