{% extends 'face_detection/base.html' %}
{% load static %}

{% block title %}Face Recognition{% endblock %}

{% block extrastyle %}
<style>
  a.disable-style {
    color: black !important;
    text-decoration: none;
  }
</style>
{% endblock %}

{% block __base_main %}
<main class="container p-5 bg-white">
<div class="d-flex justify-content-center">
  <video autoplay></video>
</div>
<div class="d-flex justify-content-center">
  <button id="btnRecord-continue" class="btn btn-success my-2 mr-3">Continue</button>
  <button id="btnRecord-stop" class="btn btn-danger my-2">Stop</button>
</div>
<div class="container pt-5">
  <h5>Face recognition results</h5>
  <table id="recognitionResults" class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Sex</th>
        <th scope="col">First visit</th>
        <th scope="col">Last visit</th>
        <th scope="col">Spent</th>
      </tr>
    </thead>
    <tbody id="recognitionResults-body">
    </tbody>
  </table>
</div>
</main>
{% endblock %}

{% block extrascript %}
<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>

<script>
  const resultsBody = document.querySelector('#recognitionResults-body');
  let __customerCache = new Set();

  function _prependZero(n) {
      return Math.abs(n) < 10 ? "0" + n : n;
  }

  function _formatDate(d) {
      return `${_prependZero(d.getDay())}.${_prependZero(d.getMonth())}.${d.getFullYear()},\
              ${_prependZero(d.getHours())}:${_prependZero(d.getMinutes())}`;
  }

  function _wrapLink(el, url) {
      let a = document.createElement("a", {is: url});
      a.href = url;
      a.appendChild(el);
      return a;
  }

  function _cacheCustomerData(customer) {
      __customerCache.add(customer["id"]);
  }

  function _insertCustomerData(customer) {
      if (!__customerCache.has(customer["id"])) {
          let newRow = resultsBody.insertRow(-1);
          // console.log("Entries: " + Object.entries(customer));
          let customerURL = "/customer/" + customer["id"] + "/";
          for (const [k, v] of Object.entries(customer)) {
              // console.log(k + " " + v);
              if (k === 'first_visit' || k === 'last_visit') {
                  newRow.insertCell(-1).appendChild(_wrapLink(
                      document.createTextNode(_formatDate(new Date(v))), customerURL));
              } else {
                  newRow.insertCell(-1).appendChild(_wrapLink(
                      document.createTextNode(v), customerURL));
              }
          }
          _cacheCustomerData(customer);
      } else {
          let dFormatted = _formatDate(new Date(customer["last_visit"]));
          for (const row of resultsBody.querySelectorAll('tr')) {
              try {
                  console.log(row.childNodes[4].textContent);
                  let cur_id = row.firstChild.textContent;
                  console.log("Customer ID: " + customer["id"] + " cur_id: " + cur_id);
                  if (customer["id"] === parseInt(cur_id)) {
                      row.childNodes[4].textContent = dFormatted;
                  }
              } catch (e) {
                  console.log(e);
              }
          }
      }
  }

  function httpPost(url, im) {
      return new Promise(function(resolve, reject) {
          let xhr = new XMLHttpRequest();
          xhr.open('POST', url, true);

          xhr.onload = function() {
              if (this.status === 200) {
                  console.log(this.response);

                  let resp = JSON.parse(this.response);
                  // console.log("Success: " + resp["success"]);

                  if (resp["has_new"]) {
                      resp["customers"].forEach(customer => {
                          customer["name"] === "<Unknown>" ? console.log("please stand by") : _insertCustomerData(customer);
                      })
                  } else {
                      resp["customers"].forEach(customer => _insertCustomerData(customer));
                  }

                  resolve(this.response);
              } else {
                  reject(new Error(this.statusText));
              }
          };

          xhr.onerror = function() {
              reject(new Error("Network error"));
          };

          xhr.send(im);
      })
  }

  function sendLatestCapture(stream, url) {
      let videoTracks = stream.getVideoTracks();
      let imageCapture = new ImageCapture(videoTracks[videoTracks.length-1]);

      imageCapture.takePhoto().then(function(blob) {
          // console.log(blob);
          let fd = new FormData();
          fd.append("image", blob);
          httpPost(url, fd);
          // let photo = URL.createObjectURL(blob);
      });
  }

  function mount(event) {
      navigator.mediaDevices.getUserMedia({
          video: true,
          audio: false
      }).then(async function(stream) {
          let video = document.querySelector('video');
          let recorder = RecordRTC(stream, {
              type: 'video'
          });
          recorder.startRecording();

          // Bind recording interruption
          document.querySelector('button#btnRecord-stop').onclick = (e) => {
              clearInterval(sendCaptures);
              video.pause();
              video.src = '';
              stream.getTracks().forEach(track => track.stop());
              recorder.stopRecording();
              // console.log("Stop video recording");
          };

          // Bind recording continuation
          document.querySelector('button#btnRecord-continue').onclick = mount;

          let sendCaptures = setInterval(sendLatestCapture, 3000, stream, 'http://localhost:8001/detect/');
          const sleep = m => new Promise(r => setTimeout(r, m));
          video.srcObject = stream;
          await sleep(1000);
      });
  }

  document.addEventListener('DOMContentLoaded', mount);

</script>
{% endblock %}
